<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
">

    <bean id="helloWorld" class="com.privalia.presentation.configuration.HelloWorld">
        <property name="hello" value="Hola holita vecinillo"/>
    </bean>

    <bean id="helloWorldCons" class="com.privalia.presentation.configuration.HelloWorld">
        <constructor-arg index="0" value="Hola holita des del vecinillo!" type="java.lang.String"/>
    </bean>

    <bean id="builder" class="com.privalia.builderexample.Employee$EmployeeBuilder">
        <constructor-arg value="1"/>
        <constructor-arg value="Dalek" />
        <property name="gender" value="1" />
        <property name="hobby" value="Exterminate!" />
    </bean>

    <bean id="employee" class="com.privalia.builderexample.Employee" factory-bean="builder" factory-method="build"/>

    <bean id="student" class="com.privalia.entity.configuration.Student">
        <property name="idStudent" value="1"/>
        <property name="name" value="Pepe"/>
        <property name="age" value="24"/>
        <property name="address" >
            <ref bean="address"/>
        </property>
    </bean>

    <bean id="address" class="com.privalia.entity.configuration.Address">
        <constructor-arg index="0" value="1" type="int" />
        <constructor-arg index="1" value="alskdfjasldf" type="java.lang.String" />
    </bean>

    <bean id="studentConstructor" class="com.privalia.entity.configuration.Student">
        <constructor-arg index="0" value="${student.idStudent}" type="int" />
        <constructor-arg index="1" value="${student.name}" type="java.lang.String" />
        <constructor-arg index="2" value="${student.surname}" type="java.lang.String" />
        <constructor-arg index="3" value="${student.age}" type="int" />
        <constructor-arg index="4" ref="address" />
    </bean>
    <bean  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>config.properties</value>
        </property>
    </bean>
</beans>